doctype html
html(lang="en")
  include ../includes/head
  body
    header
      #navbarHeader.collapse.bg-dark
        .container
          .row
            .col-sm-8.col-md-7.py-4
              h4.text-white Ibej
              include ../includes/description
            .col-sm-4.offset-md-1.py-4
              block my_account
      .navbar.navbar-dark.bg-dark.box-shadow
        .container.d-flex.justify-content-between
          a.navbar-brand.d-flex.align-items-center(href='/')
            i.fas.fa-shopping-basket.mr-2
            strong Ibej
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
    .messages
      include ../includes/messages
    .content
      block content
  include ../includes/footer
  include ../includes/foot
