extends ../layouts/default

block my_account
  include ../includes/myAccount
  +myAccount(user)

block content
  .container.mt-4
    h3 My chats
    .list-group
      each chat in chats
        a.list-group-item.list-group-item-action.flex-column.align-items-start.mb-2(
        href=`/messages/${(('' + chat.user1) == ('' + user._id)) ? chat.user2 : chat.user1}`,
        )
          .d-flex
            span.mb-1 Chat with:&nbsp;
            if ('' + chat.user1) == ('' + user._id)
              span #{chat.user2Name}
            else
              span #{chat.user1Name}
