extends ../layouts/default

block content
  main(role='main')
    section.jumbotron.text-center
      .container.container-detail
        h1.jumbotron-heading #{offer.title}
        p.lead.text-muted
          p #{offer.description}

          p#offer_price #{offer.price} zł
          if offer.type == 'buy_now'
            p
              a.btn.btn-danger.my-2(href='#') Buy now!
          if offer.type != 'buy_now'
            p
              form
                input(type='number' min=offer.price)
                button.btn.btn-danger.my-2(href='#') Bid!
