* {
  box-sizing: border-box;
}
body {
  max-width: 70vw;
  margin: 5px auto;
  border: 1px solid lightyellow;
}
#menu {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  border: 3px solid grey;
  border-right-color: black;
  border-bottom-color: black;
}
#menu .el_menu {
  margin: 3px;
  border: 1px solid black;
  padding: 2px;
  font-size: 14px;
  box-shadow: 1px 1px 1px 0 black;
}
#menu .el_menu:hover {
  background-color: aliceblue;
  box-shadow: -1px -1px 1px 0 black;
}
#menu .el_menu a {
  color: darkred;
}
#menu .el_menu a:link,
#menu .el_menu a:visited {
  color: darkred;
  text-decoration: none;
}
#tresc {
  background-color: lightgray;
  max-height: 50vh;
  overflow: scroll;
  padding-left: 2px;
  padding-right: 2px;
}
#tresc #A1 {
  margin-top: 0;
  padding-top: 16px;
}
