footer.text-muted
  .container
    p.float-right
      a(href='#')
        i.fas.fa-arrow-up.mr-2
        | Back to top
    p Arkadiusz Klein
    p
      a(href='https://github.com/aklein13', target='_blank')
        i.fab.fa-github.mr-2
        | Github
